// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-title {
    font-size: 26px;
    font-weight: bold;
    padding: 25px 25px 0 25px;
    color: #333;
}
.top-text {
    font-size: 13px;
    padding: 20px 60px;
    line-height: 45px;
    color: #333;
}
.top-link {
    margin: 0 60px;
    font-size: 13px;
    color: #333;
    &:hover {
        color: #fff;
        background-color: #000;
    }
}